@page "{id:int}"
@model Oficina.io.Pages.Carro.AlterarModel
@{
    ViewData["Title"] = "Alterar carro";
}

<h2 class="text-info">@ViewData["Title"]</h2>
<div class="border container">
    <form method="post">
        <input type="hidden" asp-for="Carro.Id" />
        <div class="form-group row mt-3">
            <div class="col-3">
                <label asp-for="Carro.Marca"></label>
            </div>
            <div class="col-6">
                <input asp-for="Carro.Marca" class="form-control" />
            </div>
            <span asp-validation-for="Carro.Marca" class="text-danger"></span>
        </div>
        <div class="form-group row mt-3">
            <div class="col-3">
                <label asp-for="Carro.Modelo"></label>
            </div>
            <div class="col-6">
                <input asp-for="Carro.Modelo" class="form-control" />
            </div>
            <span asp-validation-for="Carro.Modelo" class="text-danger"></span>
        </div>
        <div class="form-group row mt-3">
            <div class="col-3">
                <label asp-for="Carro.AnoFabricacao"></label>
            </div>
            <div class="col-6">
                <input asp-for="Carro.AnoFabricacao" class="form-control" />
            </div>
            <span asp-validation-for="Carro.AnoFabricacao" class="text-danger"></span>
        </div>
        <div class="form-group row mt-3">
            <div class="col-3">
                <label asp-for="Carro.AnoModelo"></label>
            </div>
            <div class="col-6">
                <input asp-for="Carro.AnoModelo" class="form-control" />
            </div>
            <span asp-validation-for="Carro.AnoModelo" class="text-danger"></span>
        </div>
        <div class="form-group row mt-3">
            <div class="col-3">
                <label asp-for="Carro.Placa"></label>
            </div>
            <div class="col-6">
                <input asp-for="Carro.Placa" class="form-control" />
            </div>
            <span asp-validation-for="Carro.Placa" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Alterar" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Voltar</a>
            </div>
        </div>
    </form>
</div>
    


